<launch>
<!-- Launch file for Livox MID360 LiDAR -->

	<arg name="rviz" default="true" />
	<arg name="initpose" default="true" />

	<rosparam command="load" file="$(find fastlio_localization)/config/velodyne.yaml" />
	<rosparam command="load" file="$(find fastlio_localization)/config/localization.yaml" />

	<param name="feature_extract_enable" type="bool" value="0"/>
	<param name="point_filter_num" type="int" value="3"/>
	<param name="max_iteration" type="int" value="3" />
	<param name="filter_size_surf" type="double" value="0.5" />
	<param name="filter_size_map" type="double" value="0.5" />
	<param name="cube_side_length" type="double" value="1000" />
	<param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="fastlio_localization" type="fastlio_mapping" name="laserMapping" output="screen" /> 

	<group ns="backend">
		<param name="enable" value="true"/>                       <!-- 启用后端 -->
		
		<!-- Activation Conditions -->
		<param name="min_local_points" value="1000"/>            <!-- 最小 local 点数 -->
		<param name="min_local_radius" value="20.0"/>             <!-- 最小 local 半径 -->
		<param name="min_frames" value="100"/>                    <!-- 最小运行帧数 -->
		
		<!-- Submap Extraction -->
		<param name="submap_radius" value="20.0"/>                <!-- submap 提取半径 -->
		<param name="submap_voxel_size" value="0.3"/>             <!-- 降采样大小 -->
		
		<!-- Backend Update -->
		<param name="update_interval" value="1"/>                 <!-- 每 N 帧更新 -->
		<param name="max_point2plane_dist" value="3"/>          <!-- 最大点到面距离 -->
		<param name="global_residual_weight" value="6"/>        <!-- 全局残差权重 -->
		<param name="max_global_points" value="2000"/>            <!-- 最大全局点数 -->

		<param name="continuous_align_enable" value="true"/>            
		<param name="continuous_align_stride" value="1"/>            
	</group>

	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fastlio_localization)/rviz_cfg/loam_livox2.rviz" />
	</group>

	<group if="$(arg initpose)">
		<param name="init_pose/position" value="0.0 0.0 0.0" />
		<param name="init_pose/orientation" value="0.0 0.0 0.9781 -0.2079" />
		<node pkg="fastlio_localization" type="publish_init_pose.py" name="init_pose_pub" output="screen" />
	</group>

</launch>
