<launch>
<!-- kia (MID360) relocalization against ONE map (map:=), NO rviz. Init pose via args.
     Bounded poses (map-constrained) -> usable as a mapping front-end (pure odom diverges). -->
	<arg name="map" />
	<arg name="px" default="0.0"/><arg name="py" default="0.0"/><arg name="pz" default="0.0"/>
	<arg name="qx" default="0.0"/><arg name="qy" default="0.0"/><arg name="qz" default="0.0"/><arg name="qw" default="1.0"/>
	<rosparam command="load" file="$(find fastlio_localization)/config/mid360.yaml" />
	<rosparam command="load" file="$(find fastlio_localization)/config/localization_unified.yaml" />
	<param name="localization/map/map_file_path" value="$(arg map)" />
	<param name="feature_extract_enable" type="bool" value="0"/>
	<param name="point_filter_num" type="int" value="3"/>
	<param name="max_iteration" type="int" value="3" />
	<param name="filter_size_surf" type="double" value="0.5" />
	<param name="filter_size_map" type="double" value="0.5" />
	<param name="cube_side_length" type="double" value="1000" />
	<node pkg="fastlio_localization" type="fastlio_mapping" name="laserMapping" output="screen" />
	<group ns="backend">
		<param name="enable" value="true"/>
		<param name="min_local_points" value="1000"/><param name="min_local_radius" value="20.0"/>
		<param name="min_frames" value="100"/><param name="submap_radius" value="20.0"/>
		<param name="submap_voxel_size" value="0.3"/><param name="update_interval" value="1"/>
		<param name="max_point2plane_dist" value="3"/><param name="global_residual_weight" value="6"/>
		<param name="max_global_points" value="2000"/><param name="continuous_align_enable" value="true"/>
		<param name="continuous_align_stride" value="1"/>
	</group>
	<param name="init_pose/position" value="$(arg px) $(arg py) $(arg pz)" />
	<param name="init_pose/orientation" value="$(arg qx) $(arg qy) $(arg qz) $(arg qw)" />
	<node pkg="fastlio_localization" type="publish_init_pose.py" name="init_pose_pub" output="screen" />
</launch>
